data
__pycache__
.ipynb_checkpoints
lightning_logs
venv
.idea
keys.sh
hm
.neptune
*.egg-info
checkpoints
precomputed_data
*.pickle
*.pickle
*.csv
\[New\!\] Graph Insight Time Usage.ipynb
\[New\!\] Graph Insight Time Usage.ipynb
\[New\!\] Graph Insight Time Usage.ipynb
amazon/Beauty.csv
ckconv i wish it was real.ipynb
CKConv opt exp.ipynb
ctgraph/models/recommendation/CkConv Norms.ipynb
*.ipynb
